/*COLORS

#1A2026 preto fosco
#D96C6C rosa pastel
#8C8C8C cinza

font-family: 'Courier New', cursive;
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header{
    max-width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.8)),url('../images/img_inicial.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: relative;
}

.navbar-nav{
    text-align: center;
    margin-right: 68%;
}
a.navbar-brand{
    height: 80px;
}
a.navbar-brand img{
    max-height: 100%;
}
.nav-link{
    color: aliceblue;
    font-family: 'Courier New', cursive;
}
.navbar-toggler{
    color: black;
    background-color: aliceblue;
}
.container-fluid{
    margin-left: 35%;
}
.navbar{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.1));
}

div.carousel-item{
    width: 50%;
    height: 80vh;
    min-height: 100%;
}
.carousel-item img{
    max-width: 70%;
    max-height: 100%;
    margin-left: 67%;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.0));
}

.accordion{
    margin-top: 3%;
}
.accordion-item{
    background-color: #1A2026;
    color: aliceblue;
    width: 50%;
    margin-left: 27%;
    font-family: 'Courier New', cursive;
}
.accordion-button{
    background-color: #1A2026;
    color: aliceblue;
    font-family: 'Courier New', cursive;
}
header nav.nav-item a.nav-link :hover{
    color:#98a6b4;
}
.card-body{
    background-color:  rgb(36, 36, 36);
}
.card-img-top{
    background-color: rgb(36, 36, 36);
}
.card-title{
    color: aliceblue;
    font-family: 'Courier New', cursive;
}
.card-text{
    color: aliceblue;
    font-family: 'Courier New', cursive;
}
.list-group-item{
    background-color: rgb(36, 36, 36);
    color: aliceblue;
    font-family: 'Courier New', cursive;
}

#lins{
    border-color: rgb(145, 144, 144);
    padding: 2% 10%;
    height: 7rem;
    border-radius: 100px;
    font-family: 'Courier New', cursive;
    margin-top: 200px;
    background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    font-size: larger;
    margin-left: 35%;
}

footer{
    max-width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #1A2026;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.0));

    position: relative;
}
#contato{
    margin-top: 2%;
    align-items: center;
}
.contato{
    align-items: center;
    text-align: center;
    margin-left: 3%;
}
h1{
    margin-top: 3%;
    font-family: 'Courier New', cursive;
    color: aliceblue;
}
h4{
    font-family: 'Courier New', cursive;
    color: aliceblue;
}
h5{
    margin-top: 4%;
    font-family: 'Courier New', cursive;
    color: aliceblue;
}
#btnGH{
    border-color: rgb(145, 144, 144);
    font-size: larger;
    background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    border-radius: 100px;
    font-family: 'Courier New', cursive;
}
#btnIG{
    border-color: rgb(145, 144, 144);
    font-size: larger;
    background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    border-radius: 100px;
    font-family: 'Courier New', cursive;
}
